[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
morse3 = "*"
emoji = "*"
pronouncing = "*"
nltk = "*"
setuptools = "*"

[dev-packages]

[requires]
python_version = "3.13"
